@model IEnumerable<Kubernetes8.Models.Student>





@{
    ViewBag.Title = "View2";
   
}

<h2>View2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MasterStudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MasterStudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MasterStudentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MasterStudentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MasterStudentId })
            </td>
        </tr>
    }

</table>